@import "./reset.css";
@import "./components.css";

@layer components, base, reset;

@font-face {
  font-family: 'Obviously';
  src: url('/fonts/Obviously-Black.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  :root {
    --main-color: #333;
    --main-bg-color: #f9f9f9;
    --main-widget-bg-color: #fff;
    --main-widget-border-color: #e9e9e9;
    --max-width: 80vw;

    --unit: 1rem;
    --columns: 3;
    --col-width: 300px;

    --font-primary: 'Open Sans', sans-serif;
    --font-secondary: 'Obviously', sans-serif;
  }
  body {
    color: var(--main-color);
    background-color: var(--main-bg-color);
    font-family: var(--font-primary);
  }
  .ws_masonry {
    column-width: var(--col-width);
    column-count: var(--columns);
    column-gap: var(--unit);
    max-width: var(--max-width);
    margin: 0 auto;
  }
  h2 {
    font-family: var(--font-secondary);
    color: #FF5CA4
  }
}

